@import "../../../_globals.scss";
$dir: '../../../../assets';
/* $images: $dir + '/images'; */
$images: $dir + '/images_optimized';

#admin {
	background-color: white;
	box-sizing: border-box;
	padding: 0 10%;
	width: 100%;

	.admin-banner {
		h1 {
			text-align: center;
			box-sizing: border-box;
			padding: 5%;
		}
	}

	.search-box {
		margin: 12px;
		width: 26.12%;
	}

	.table-container {
	}

	.table {
	}

	.cell-hover {
		span {
			transition: transform 0.1s linear;
		}

		&:hover {
			background-color: #f5f5f5;
			cursor: pointer;

			span {
				transform: scale(1.25);
			}
		}
	}

	label {
		margin-bottom: 0;
		margin-top: 8px;
		padding-left: 1px;
	}

	input[type='checkbox'] {
		box-shadow: none;
		margin: 0;
		height: 24px;
	}

	td {
		text-align: center;
	}
}
