<div class="banner">
	<div class="center-content">
		<div class="content text-center soft-border">
			<div class="info">
				<h2>HELLO!</h2>
				<p>
					Welcome to our website!  We’re excited to share our special day with you up in the beautiful mountains of Mammoth.  We decided to get married in Mammoth as it is one of our favorite travel destinations as well as the location where we got engaged.  We hope this page helps to keep everyone up to date with the latest developments leading up to our wedding day!
				</p>
				<p>
					If you have any questions whatsoever, please don’t hesitate to give  either of us a call and (hopefully!) we will have an answer for you.  Please keep an eye on this page as it is a work in progress.  We look forward to seeing you all in Mammoth on the 19th of August 2017!
				</p>
				<h5>
					All our love,<br>
					<strong>Paige and Jared</strong>
				</h5>
			</div>
		</div>
	</div>
</div>
