<div class="banner">
	<div class="center-content">
		<div class="content text-center soft-border">
			<div class="info">
				<h2>IRVINE CELEBRATION</h2>
				<p>
					In addition to our destination wedding in Mammoth, we will also be hosting a post wedding celebration party at <strong>Tanaka Farms in Irvine, CA.</strong><br />
					Please keep <strong>September 9th, 2017</strong> available as we would love to celebrate once again with you all. <br />
					Details to come soon.
				</p>
				<div class="map-overlay" onClick="style.pointerEvents='none'"></div>
				<iframe
				  width="400px"
				  height="200px"
				  frameborder="0" style="border:0"
				  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDDoWSwwclwxW9-vTj7WqOG5kxq1tglkuQ
				    &q=Tanaka Farms Irvine, CA" allowfullscreen>
				</iframe>
			</div>
		</div>
	</div>
</div>

