<div class="banner">
	<!-- <div class="center-content"> -->
		<div class="flip-container"
			ng-class="{
				'flipped': link.flipped
			}">
			<div class="flipper">
				<div class="front">
					<div class="content text-center soft-border">
						<div class="info">
							<div class="">
								<h2>RSVP</h2>
								<p>
									Find your RSVP
								</p>
								<form class="" ng-submit="findRSVP(rsvpCode, link)">
									<div class="form-group">
										<label>RSVP Code</label>
									</div>
									<div class="form-group">
										<input type="text" name="code" placeholder="Code"
											ng-model="rsvpCode">
									</div>
									<div class="form-group">
										<button type="submit" class="btn btn-default">Find</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="back">
					<div class="content text-center soft-border">
						<div class="info">
							<div class="">
								<h2>RSVP</h2>
								<div ng-show="rsvpStep === 1">
									<label>
										Your RSVP includes:
									</label>
									<div class="width-20 text-no-wrap margin-auto left-align"
										ng-repeat="guest in currentRSVP track by $index">
										{{ guest.InviteeFirstName +' '+ guest.InviteeLastName }}
									</div>
									<label class="margin-top-16px">
										Does this look correct?
									</label>
									<br />
									<button class="btn btn-success" ng-click="rsvpNextStep()">
										Yes
									</button>
									<button class="btn btn-danger" ng-click="rsvpResetStep()">
										No
									</button>
								</div>

								<div ng-show="rsvpStep === 2">
									<label>
										Who will be joining us on August 19th, 2017?
									</label>
									<div class="left-label-right-form width-30"
										ng-repeat="guest in currentRSVP track by $index">
										<label class="">
											{{ guest.InviteeFirstName +' '+ guest.InviteeLastName }}
										</label>
										<input type="checkbox" class=""
											ng-model="guest.Going">
									</div>
									<button class="btn btn-success margin-top-16px"
										ng-click="rsvpCheckAttendees()">
										Continue
									</button>
								</div>

								<div ng-show="rsvpStep === 3">
									<label>
										Who will you be bringing?
									</label>
									<div class="width-50 margin-auto"
										ng-repeat="guest in allowedExtras | filter: { Going: true }">
										<label class="margin-top-16px">
											{{ guest.InviteeFirstName +' '+ guest.InviteeLastName }}
										</label>
										<div class="form-group">
											<div class="form-inline">
												<label>
													Guest First Name
												</label>
												<input type="text" class="form-control" placeholder="First name" ng-model="guest.Guest.FirstName">
												<label>
													Guest Last Name
												</label>
												<input type="text" class="form-control" placeholder="Last name" ng-model="guest.Guest.LastName">
											</div>
										</div>
									</div>
									<button class="btn btn-success margin-top-16px" ng-click="rsvpEvaluateGuests()">Continue</button>
								</div>

								<div ng-show="rsvpStep === 4">
									<label>
										What will everyone be eating?
									</label>
									<div ng-repeat="guest in currentRSVP | filter: { Going: true }">
										<div class="form-group left-label-right-form width-50">
											<label>
												{{ guest.InviteeFirstName +' '+ guest.InviteeLastName }}
											</label>
											<select ng-model="guest.Dish"
												ng-class="{
													'has-error': !guest.Dish && submittedDish
												}"
												ng-options="dish.dish as dish.display for dish in dishOptions">
												<option value="">Please Choose a Dish</option>
											</select>
										</div>
										<div class="form-group left-label-right-form width-50" ng-if="guest.Guest">
											<label>
												{{ guest.Guest.FirstName +' '+ guest.Guest.LastName }}
											</label>
											<select ng-model="guest.Guest.Dish"
												ng-class="{
													'has-error': !guest.Guest.Dish && submittedDish
												}"
												ng-options="dish.dish as dish.display for dish in dishOptions">
												<option value="">Please Choose a Dish</option>
											</select>
										</div>
									</div>
									<button class="btn btn-success margin-top-16px" ng-click="rsvpEvaluateDishChoice()">Submit</button>
								</div>

								<div ng-show="rsvpStep === 5">
									<label>
										Thank You!
									</label>
									<br />
									<label>
										We look forward to seeing you on August 19th, 2017!!
									</label>
								</div>

								<div ng-show="rsvpStep === 0">
									<label>
										Please contact Paige or Jared if there seems to be a mistake.
									</label>
								</div>

								<div ng-show="rsvpStep === -1">
									<label>
										We're sorry we won't be seeing you!
									</label>
								</div>
								<br />
								<a href="" ng-click="rsvpResetStep()">
									{{ rsvpStep < 0 || rsvpStep > 4 ? 'Done' : 'Cancel' }}
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	<!-- </div> -->
</div>
