<div class="banner">
	<div class="center-content">
		<div class="content text-center soft-border">
			<div class="info">
				<h4>WHEN & WHERE</h4>
				<p>
					Together with their parents, <br />
					Mr. Duane Hirayama and Mrs. Joy Hirayama <br />
					& <br />
					Mr. David Tanimoto and Mrs. Joyce Tanimoto
				</p>

				<h3>
					Paige Hirayama and Jared Tanimoto
				</h3>

				<p>
					Invite you to share the breathtaking views of the Sierras and <br> unforgettable memories of their destination wedding to take places on
				</p>

				<p>
					August 19th, 2017 <br />
					at 4:30pm in the afternoon
				</p>
				<p>
					McCoy Station <br />
					10001 Minaret Rd, Mammoth Lakes, CA 93546 <br />
					Cocktails, dinner and dancing to follow <br />
				</p>
					<!-- (*maybe include a google maps embed api?)
					(*i’m planning to update the website later to give instructions on how to take the gondola up to the venue) -->
				<div class="map-overlay" onClick="style.pointerEvents='none'"></div>
				<iframe class="map"
				  width="300px"
				  height="150px"
				  frameborder="0" style="border:0"
				  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDDoWSwwclwxW9-vTj7WqOG5kxq1tglkuQ
				    &q=McCoy Station, Mammoth Lakes, CA 93546" allowfullscreen>
				</iframe>
			</div>
	</div>
</div>
